BOT_TOKEN=<your-bot-token>
AUTHORIZED_GROUP_ID=<your-authorized-group-id>
ZOOM_USER_CLIENT_ID=<your-zoom-user-client-id>
ZOOM_USER_CLIENT_SECRET=<your-zoom-user-client-secret>
ZOOM_CLIENT_ID=<your-zoom-client-id>
ZOOM_CLIENT_SECRET=<your-zoom-client-secret>
ZOOM_REDIRECT_URI=https://nebulosa.friskydev.com/auth/zoom/callback
ZOOM_SECRET_TOKEN=<your-zoom-secret-token>
